<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="OpenHIPS"
           Language="1033" Version="0.0.0.1" Manufacturer="0xdabbad00"
           UpgradeCode="2012DA35-95A5-4D7C-933C-8BF7B1D1714A">
    <Package 
		InstallerVersion="200" 
		Compressed="yes" 
		InstallPrivileges="elevated"
		/>
	<Media Id='1' Cabinet='product.cab' EmbedCab='yes' />
	
	<!-- Display an icon in Add/Remove Programs -->
	<Icon Id="icon.ico" SourceFile="..\images\icon.ico"/>
	<Property Id="ARPPRODUCTICON" Value="icon.ico" />
	<Property Id="ALLUSERS" Value="1" />
	
	<!-- Ensure the user installing is an admin -->
	<Condition Message='You need to be an administrator to install this product.'>Privileged</Condition>  

	<!-- Location to install to: C:\Program Files (x86)\OpenHIPS\ -->
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='OPENHIPSSERVICE' Name='OpenHIPS' />
      </Directory>
    </Directory>
	
	<DirectoryRef Id="OPENHIPSSERVICE">
		<Component Id="InstallService" Guid='D6DDA62B-1DB8-4E38-B6F7-A7D074F2DC13'>
			<!-- Files to install -->
			<File Id="ohipssvc" Name="ohipssvc.exe" Source="..\bin\Release\ohipssvc.exe" KeyPath="yes" />
			<File Id="ohipsui" Name="ohipsui.exe" Source="..\bin\Release\ohipsui.exe" />
			<File Id="ohipsfs32" Name="ohipsfs32.dll" Source="..\bin\Release\ohipsfs32.dll"/>
			<File Id="ohipsfs64" Name="ohipsfs64.dll" Source="..\bin\Release\ohipsfs64.dll"/>
			<File Id="ohipsp32" Name="ohipsp32.dll" Source="..\bin\Release\ohipsp32.dll"/>
			<File Id="ohipsp64" Name="ohipsp64.dll" Source="..\bin\Release\ohipsp64.dll"/>
			
			<!-- Configuration files to install -->
			<File Id="dllLoad32" Name="dllLoad32.cfg" Source="dllLoad32.cfg"/>

			<!-- Set up service for privileged monitoring -->
			<ServiceInstall Id="OpenHIPS"
							Name="OpenHIPS"
							DisplayName="OpenHIPS"
							Type="ownProcess"
							Start="auto"
							ErrorControl="normal"
							Description="Protects against intrusions"
							Account="LocalSystem"
							Interactive="yes"
							/>
			<ServiceControl Id="StartOpenHIPS"
							Name="OpenHIPS" Start="install" Wait="no" />
			<ServiceControl Id="StopOpenHIPS" Name="OpenHIPS"
							Stop="both" Wait="yes" Remove="uninstall" />
							
			<!-- Set up run key for UI component that must run for each user -->
			<RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Run" Action="create">
				<RegistryValue Type="string" Name="OpenHIPS" Value="[OPENHIPSSERVICE]ohipsui.exe"/>
			</RegistryKey>
		
			<!-- Set registry key configuration -->
			<!-- TODO: Using the registry in wix is lame -->
			<RegistryKey Root="HKLM" Key="Software\OpenHIPS\HeapLocker" Action="createAndRemoveOnUninstall">
				<RegistryValue Type="integer" Name="PrivateUsageMax" Value="1000" />
				
				<RegistryKey Key="Applications" Action="createAndRemoveOnUninstall">
					<RegistryKey Key="acrord32.exe" Action="createAndRemoveOnUninstall">
						<RegistryValue Type="integer" Name="NOPSledLengthMin" Value="0" />
						<RegistryValue Type="integer" Name="PrivateUsageMax" Value="500" />
						<RegistryValue Type="integer" Name="GenericPreAllocate" Value="1" />
						<RegistryValue Type="binary"  Name="SearchString" Value="75006e00650073006300610070006500" />
						<RegistryValue Type="integer" Name="SearchMode" Value="1" />
						<RegistryValue Type="integer" Name="NullPagePreallocate" Value="0" />
						<RegistryValue Type="integer" Name="Verbose" Value="1" />
						<RegistryKey Key="Addresses" Action="createAndRemoveOnUninstall">
							<RegistryValue Type="integer" Name="util.printf" Value="808464432" />
						</RegistryKey>
					</RegistryKey>
					<RegistryKey Key="excel.exe" Action="createAndRemoveOnUninstall">
						<RegistryValue Type="integer" Name="NOPSledLengthMin" Value="10000" />
						<RegistryValue Type="integer" Name="PrivateUsageMax" Value="500" />
					</RegistryKey>
					<RegistryKey Key="firefox.exe" Action="createAndRemoveOnUninstall">
						<RegistryValue Type="integer" Name="NOPSledLengthMin" Value="50000" />
						<RegistryValue Type="integer" Name="PrivateUsageMax" Value="500" />
						<RegistryValue Type="integer" Name="GenericPreAllocate" Value="1" />
					</RegistryKey>
					<RegistryKey Key="foxit reader.exe" Action="createAndRemoveOnUninstall">
						<RegistryValue Type="integer" Name="NOPSledLengthMin" Value="50000" />
						<RegistryValue Type="integer" Name="PrivateUsageMax" Value="500" />
						<RegistryValue Type="integer" Name="GenericPreAllocate" Value="1" />
					</RegistryKey>
					<RegistryKey Key="iexplore.exe" Action="createAndRemoveOnUninstall">
						<RegistryValue Type="integer" Name="NOPSledLengthMin" Value="50000" />
						<RegistryValue Type="integer" Name="PrivateUsageMax" Value="500" />
						<RegistryValue Type="integer" Name="GenericPreAllocate" Value="1" />
					</RegistryKey>
				</RegistryKey>
			</RegistryKey>

		</Component>
	</DirectoryRef>
	
	<!-- This just says install what I just wrote above -->
    <Feature	Id="MainApplication"
				Title="MainApplication"
				Level='1'>
		<ComponentRef Id='InstallService'/>
    </Feature>
	
	<!-- Run our UI after install -->
	<Property Id="WixShellExecTarget" Value="[#ohipsui]" />
    <CustomAction Id="LaunchInstalledExe"
         FileKey="ohipsui"
         ExeCommand="" 
         Execute="immediate" 
         Impersonate="yes" 
         Return="asyncNoWait" />
		
	<InstallExecuteSequence>
        <Custom Action='LaunchInstalledExe' After='InstallFinalize'/>
    </InstallExecuteSequence>

  </Product>
</Wix>