<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="OpenHIPS"
           Language="1033" Version="0.0.0.1" Manufacturer="0xdabbad00"
           UpgradeCode="2012DA35-95A5-4D7C-933C-8BF7B1D1714A">
    <Package 
		InstallerVersion="200" 
		Compressed="yes" 
		InstallPrivileges="elevated"
		/>
	<Media Id='1' Cabinet='product.cab' EmbedCab='yes' />
	
	<!-- Display an icon in Add/Remove Programs -->
	<Icon Id="icon.ico" SourceFile="..\images\icon.ico"/>
	<Property Id="ARPPRODUCTICON" Value="icon.ico" />
	<Property Id="ALLUSERS" Value="1" />
	
	<Condition Message='You need to be an administrator to install this product.'>Privileged</Condition>  

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='OPENHIPSSERVICE' Name='OpenHIPS' />
      </Directory>
    </Directory>
	
	<DirectoryRef Id="OPENHIPSSERVICE">
		<Component Id="InstallService" Guid='D6DDA62B-1DB8-4E38-B6F7-A7D074F2DC13'>
			<File Id="ohipssvc" Name="ohipssvc.exe" Source="..\bin\Release\ohipssvc.exe" KeyPath="yes" />
			<File Id="ohipsfs32" Name="ohipsfs32.dll" Source="..\bin\Debug\ohipsfs32.dll"/>
			<File Id="ohipsfs64" Name="ohipsfs64.dll" Source="..\bin\Release\ohipsfs64.dll"/>
			<File Id="ohipsp32" Name="ohipsp32.dll" Source="..\bin\Debug\ohipsp32.dll"/>
			<File Id="ohipsp64" Name="ohipsp64.dll" Source="..\bin\Release\ohipsp64.dll"/>
			
			<File Id="dllLoad32" Name="dllLoad32.cfg" Source="dllLoad32.cfg"/>

			<ServiceInstall Id="OpenHIPS"
							Name="OpenHIPS"
							DisplayName="OpenHIPS"
							Type="ownProcess"
							Start="auto"
							ErrorControl="normal"
							Description="Protects against intrusions"
							Account="LocalSystem"
							Interactive="no"
							/>
			<ServiceControl Id="StartOpenHIPS"
							Name="OpenHIPS" Start="install" Wait="no" />
			<ServiceControl Id="StopOpenHIPS" Name="OpenHIPS"
							Stop="both" Wait="yes" Remove="uninstall" />
							
			<RegistryKey Root="HKLM" Key="Software\OpenHIPS\HeapLocker" Action="createAndRemoveOnUninstall">
				<RegistryValue Type="integer" Name="PrivateUsageMax" Value="1000" />
			</RegistryKey>

		</Component>
	</DirectoryRef>
	
    <Feature	Id="MainApplication"
				Title="MainApplication"
				Level='1'>
		<ComponentRef Id='InstallService'/>
    </Feature>
  </Product>
</Wix>